.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rhistory
.Rproj.user/1F26D996/sources/prop/68A393DD
.Rproj.user/1F26D996/sources/per/t/E77C1E60-contents
.Rproj.user/1F26D996/sources/per/t/E77C1E60
.Rproj.user/1F26D996/rmd-outputs
.Rproj.user/1F26D996/pcs/workbench-pane.pper
